<ol class="breadcrumb">
    <li><a routerLink="/">Ludwigs Rezepte</a></li>
    <li><a routerLink="/CMS">CMS</a></li>
    <li><a routerLink="/CMS/Rezepte">Rezepte</a></li>
    <li class="active">Edit</li>
</ol>
<h1 class="headline">Rezept Bearbeiten</h1>

<form [formGroup]="recipeForm" (ngSubmit)="saveRecipe();">
    <input type="hidden" formControlName="id" />

    

    <div class="row">
        <div class="recipe-left-column">
<!--Left Column-->
            <div class="row" *ngIf="recipe.id > 0">
                <div class="drop-container" ngFileDrop (click)="openTeaserImageUpload()" (touch)="openTeaserImageUpload()" [options]="options" (uploadOutput)="onUploadOutput($event);" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
                    <img src="{{imageManagerDomain}}{{recipe.teaserImageUrl}}" style="width:100%">
                </div>
                <input type="file" style="display:none;" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event);" [uploadInput]="uploadInput" id="teaser-image-upload-input" multiple>
            </div>            
            <h2 class="sub-headline">Rezept Für</h2>
            <div class="row recipe-ingredient">
                <div class="col-xs-2 col-sm-5">
                    <mat-form-field>
                        <input matInput placeholder="Anzahl" formControlName="ingredientCount" autocomplete="recipe-edit" style="text-align: right">
                    </mat-form-field>
                </div>
                <div class="col-xs-10 col-sm-7">
                        <mat-form-field>
                            <input matInput placeholder="Art" (change)="setIngredientSearchTerm($event.target.value)" (keyup)="setIngredientSearchTerm($event.target.value)" (focus)="setIngredientSearchTerm($event.target.value)" formControlName="measurement" autocomplete="recipe-edit" [matAutocomplete]="auto">
                        </mat-form-field>
                    </div>
            </div>
            <h2 class="sub-headline">Zutaten</h2>
            <div formArrayName="ingredientList" class="ingredient-list">
                <div *ngFor="let item of recipeForm.controls['ingredientList']['controls']; let i = index;" [formGroupName]="i">
                    <div class="col-xs-2 col-sm-2">
                        <mat-form-field>
                            <input matInput placeholder="Anzahl" (change)="ingredientListChange();" formControlName="amount" autocomplete="recipe-edit" style="text-align: right">
                            <mat-error>{{validation.errorMessage(recipeForm.controls.preparationTime.errors)}}</mat-error> 
                        </mat-form-field>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <mat-form-field>
                            <input matInput placeholder="Einheit" (change)="ingredientListChange();setMeasurementSearchTerm($event.target.value)" (keyup)="setMeasurementSearchTerm($event.target.value)" (focus)="setMeasurementSearchTerm($event.target.value)" formControlName="measurementName" autocomplete="recipe-edit" [matAutocomplete]="autoMeasurement">
                           
                            <mat-error>{{validation.errorMessage(recipeForm.controls.preparationTime.errors)}}</mat-error> 
                        </mat-form-field>
                    </div>
                    <div class="col-xs-7 col-sm-7">
                        <mat-form-field>
                            <input matInput placeholder="Art" (change)="ingredientListChange();setIngredientSearchTerm($event.target.value)" (keyup)="setIngredientSearchTerm($event.target.value)" (focus)="setIngredientSearchTerm($event.target.value)" formControlName="ingredientName" autocomplete="recipe-edit" [matAutocomplete]="auto">
                            
                            <mat-error>{{validation.errorMessage(recipeForm.controls.preparationTime.errors)}}</mat-error> 
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <mat-autocomplete #autoMeasurement="matAutocomplete">
                <mat-option *ngFor="let option of measurementOptions()" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of ingredientOptions()" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
            <h2 class="sub-headline">Rezept Informationen</h2>
            <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <mat-form-field>
                            <input matInput placeholder="Vorbereitung" formControlName="preparationTime" autocomplete="recipe-edit" style="text-align: right">
                            <span matSuffix>&nbsp;Min</span>
                            <mat-error>{{validation.errorMessage(recipeForm.controls.preparationTime.errors)}}</mat-error> 
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <mat-form-field>
                            <input matInput placeholder="Zubereitungszeit" formControlName="waitingTime" autocomplete="recipe-edit" style="text-align: right">
                            <span matSuffix>&nbsp;Min</span>
                            <mat-error>{{validation.errorMessage(recipeForm.controls.waitingTime.errors)}}</mat-error> 
                        </mat-form-field>
                    </div>
                </div>
        </div>
        <div class="recipe-right-column">
<!--Right Column-->
            <h2 class="sub-headline">Rezept</h2>
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <mat-checkbox formControlName="isPublished">Veröffentlicht</mat-checkbox>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <mat-checkbox formControlName="isOnlyForFriends">Nur für Freunde</mat-checkbox>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <mat-form-field>
                        <input matInput placeholder="Rezept Name" formControlName="name" autocomplete="recipe-edit">
                        <mat-hint>{{translation.get('FormControl.Hints.Left.MaxLength', [nameMaxLength])}}</mat-hint>
                        <mat-hint align="end">{{translation.get('FormControl.Hints.Right.MaxLength', [recipeForm.controls.name.value?.length, nameMaxLength])}}</mat-hint>
                        <mat-error>{{validation.errorMessage(recipeForm.controls.name.errors)}}</mat-error> 
                    </mat-form-field>
                </div>
            </div>
        
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <mat-form-field>
                        <textarea  matInput placeholder="Beschreibung" formControlName="description" autocomplete="recipe-edit"></textarea>
                        <mat-error>{{validation.errorMessage(recipeForm.controls.description.errors)}}</mat-error> 
                    </mat-form-field>
                </div>
            </div>
        
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <mat-form-field>
                        <textarea  matInput placeholder="Rezept" formControlName="content" autocomplete="recipe-edit" rows="20"></textarea>
                        <mat-error>{{validation.errorMessage(recipeForm.controls.content.errors)}}</mat-error> 
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom navbar-for-spans">
        <div class="container">
            <div class="navbar-header">
                <input type="submit" class="btn btn-success" value="Speichern">
            </div>
        </div>
    </div>
</form>