.recipe-overview-item {
    cursor: pointer;
    border-bottom: 1px solid #BBB;
}
.recipe-overview-item a,
.recipe-overview-item a:hover,
.recipe-overview-item a:focus {
    color: #373a3c;
    text-decoration: none;
}
.recipe-overview-item .teaser-image {
    float: left;
}
.recipe-overview-item .teaser-text {
    float: left;
}

.recipe-overview-item {
    cursor: pointer;
    border-bottom: 1px solid #BBB;
}

.recipe-overview-item a, .recipe-overview-item a:hover, .recipe-overview-item  a:focus
{
    color:#373a3c;
    text-decoration:none;
}
.recipe-overview-item .teaser-image {
    float: left;
}

.recipe-overview-item .teaser-text {
    float: left;
}

@media (min-width: 768px) {
    .teaser-image {
		width: 250px;

		
    }
    .teaser-image img {
        width: 240px;
        height: 180px;
    }

	.recipe-overview-item {
		padding-bottom: 10px;
		margin-bottom: 10px;

		

		
    }
    .recipe-overview-item .teaser-text  .recipe-name {
        font-size: 26px;
        font-weight: bold;
    }

    .recipe-overview-item .teaser-text {
        

        width: calc(100% - 250px);
    }

    
}

@media (max-width: 767px) {
    .headline {
		font-size: 24px;
	}

	.teaser-image {
		width: 117px;
    }

    .teaser-image img {
        height: 80px;
        width: 107px;
    }

	.recipe-overview-item {
		padding-bottom: 5px;
		margin-bottom: 5px;
    }
    
    .recipe-overview-item  .teaser-text {
        width: calc(100% - 147px);
    }

    .recipe-overview-item  .teaser-text .recipe-info {
        margin-top: 10px;
        font-size: 10px;
    }
}