@import "variables.less";

.btn
{
	margin-right:5px;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: @color-red;
}

html {
    overflow-y: scroll;
}

.headline {
    color: @color-red;
    font-size: 34px;
    margin-bottom: 15px;
    font-weight: bold;
    text-shadow: 1px 1px #D6D6D6;
}

.breadcrumb {
	background: none;
	padding: 0;

	a {
		color: @color-red;
	}
}

.breadcrumb > li + li::before {
	content: "/";
}

.row {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 5px;
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.body-content {
	padding: 0 10px;
}

.bordered-box {
	border: 1px solid #c1282d;
	border-radius: 5px;

	h2 {
		background-color: #c1282d;
		color: #FFFFFF;
		font-size: 20px;
		padding: 5px;
	}
}

.recipe-left-element-distance
{
    margin-right:20px;
    margin-bottom:20px;
}
.no-padding {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}
    
@media (max-width: @breakpoint-mobile-max) {
    .active-mobile-search {
        position: fixed;
        top: 0;
        margin-top: 0;
		height:100vh;
    }
        
    .active-mobile-search .navbar {
        display: none;
    }

    .active-mobile-search .navbar-search {
        margin-top: 0 !important;
        position: fixed !important;
        top: 0 !important;
    }

    .active-mobile-search .mobile-search-result {
        position: fixed;
        top: 55px;
        box-shadow: 0 4px 2px -2px gray;
        position: fixed;
        top: 59px;
        z-index: 999;
        width: 100%;
        border-top: 1px solid #999;
		overflow-y: scroll;
		height:~"calc(100vh - 58px)";
    }
}

.recipe-detail-content
{
	td{
		padding:3px;
	}
	h2
	{
		line-height:32px;
		color: #C1282D;
		font-size: 24px;
	}
	h3
	{
		margin-top:30px;
		line-height:28px;
		color: #C1282D;
		font-size: 18px;
	}
}

.no-number {
	list-style-type: none;
}

.default-color {
	color: @color-red;
}

footer {
	border-top: 1px solid #D6D6D6;
	padding: 15px 0;
	text-align: center;

	a, a:hover, a:focus, a:visited {
		color: @color-red;
		text-decoration: none;
	}
}

.drop-zone
{
    border-radius: 0 !important;
    height:auto !important;
    .content
    {
        height: auto !important;
    }
}

.navbar-fixed-bottom
{
	background-color:#FFFFFF;
	border-top:1px solid #D6D6D6;
}

.content-items
{
	padding-top:20px;
	.mat-form-field-infix
	{
		border-top:none;
	}
}

.mat-hint,
{
	color:@color-grey-dark;
}
.mat-form-field-label,
.mat-focuesed .mat-form-field-label
{
	color: @color-grey-very-dark;
	font-weight: bold;
}

.input-listitem
{
	margin-top:-15px;
	padding-left: 25px;
	background:#FFFFFF url('/img/point.png') no-repeat left 3px;
	background-size: 13px 13px;
    .mat-form-field-infix
    {
        padding: 0;
	}
	.mat-form-field-wrapper
	{
		padding-bottom:1.5em;
	}
}