<h1 class="headline">Einloggen</h1><br>

<form [formGroup]="loginForm">
    <div class="row" style="padding-bottom:50px;">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <mat-form-field  hintLabel="Max 10 Zeichen">
                        <input matInput placeholder="Benutzername" #userName formControlName="userName" autocomplete="login-user" required>
                        <mat-hint align="end">{{userName.value?.length || 0}}/10</mat-hint>
                        <mat-error *ngIf="loginForm.controls.userName.errors != null && loginForm.controls.userName.errors.required">Es muss ein Name eingetragen werden</mat-error>
                        <mat-error *ngIf="loginForm.controls.userName.errors != null && loginForm.controls.userName.errors.maxlength">Der Name ist zu lang (aktuell {{loginForm.controls.userName.errors.maxlength.actualLength}} von {{loginForm.controls.userName.errors.maxlength.requiredLength}} Zeichen)</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <mat-form-field>
                        <input matInput placeholder="Passwort" [type]="hide ? 'password' : 'text'"  formControlName="password" autocomplete="login-user">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <mat-checkbox >Eingeloggt bleiben</mat-checkbox>
            <br><br>
            <input type="button" class="btn" (click)="login()" value="Einloggen">
        </div>
    </div>
</form>