

.recipe-detail-description
{
	font-style: italic;
}

.recipe-detail-ingredients
{
	td:first-of-type
	{
		width:100px;
	}
}

.detail-image
{
	max-width:100%;
	margin-bottom:10px;
}

.recipe-detail-menu {
	display: inline-block;
	color:#C1282D;
	padding: 2px 10px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	background-color:#f7f7f9;
	border:1px solid #ddd;
	a, a:hover, a:visited, a:focus
	{
		color:#C1282D;
		text-decoration:none;
	}

    display: inline-block;
    color: #C1282D;
    padding: 2px 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #f7f7f9;
    border: 1px solid #ddd;

  a,
  a:hover,
  a:visited,
    a:focus {
    color: #C1282D;
    text-decoration: none;
  }
}

.recipe-detail-content-text ol h2
{
	margin-left:-40px;
}

.recipe-detail-content-text ol h3
{
	font-weight: bold;
	font-size:1rem;
	margin-top:15px;
}